doctype html
html(lang="es")
	head
		title Sistema de Administración de Accesos-Acces Logic
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="css/foundation.css")
		link(rel="stylesheet" type="text/css" href="css/app.css")
		script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js" type="text/javascript" charset="utf-8" async)
					
body
	div(class="row expanded")
		div(class="small-12 medium-12 large-12 columns verde")
			div(class="small-12 medium-12 large-12 columns")
				img(src="img/Logo.png" class="logoP")
				p(class="nombre negrita") Access Logic
				br
	div(class="row expanded")
		div(class="small-2 medium-2 large-2 columns me")
			div(class="small-5 small-offset-2 medium-5 medium-offset-2 large-5 large-offset-2 foto")
				img(src="img/foto.png")
			div(class="small-12 medium-12 large-12 columns user")
				p #{user.nombre} #{user.apPaterno} #{user.apMaterno}
			div(class="menu large-12 row expanded item")
				li
					a(href="/calendario") Calendario
			div(class="menu large-12 row expanded item")
				li
					a(href="/horario") Horario
			if user.isAdmin
				div(class="menu large-12 row expanded item")
					li
						a(href="/users") Usuarios		
			div(class="menu large-12 row expanded item")
				li
					a(href="/incidencias") Incidencias
			div(class="menu large-12 row expanded item")
				li
					a(href="/signout") Cerrar Sesión	
		div(class="small-10 medium-10 large-10 columns")
			div(id="workarea")
				div(class="small-10 small-offset-1 medium-10 medium-offset-1 large-10 large-offset-1 titOptions columns")
					p(class="negrita") Incidencias
				div(class="small-12 medium-12 large-12 columns")
					div(class="small-10 smll-offset-2 medium-10 medium-offset-2 large-10 large-offset-1 columns ")
						table(class="stack")
							thead
								tr(class="colorCell")
									th(width="100" class="encT") ID
									th(width="150" class="encT") ID Tipo incidencia
									th(width="150" class="encT") ID Empleado
									th(width="150" class="encT") Fecha y Hora
									
								tr

									td(class="colorCell") 579a926fc6eb72478aed245d
									td 579952043d2de8ff0ade0b1d
									td 579951873d2de8ff0ade0b1a
									td 2016-07-07T16:02:14.771Z
									
								tr
									td(class="colorCell") 579a930bc6eb72478aed245e
									td 579952053d2de8ff0ade0b1e 
									td 579951873d2de8ff0ade0b1b
									td 2016-07-07T16:02:44.027Z
									
									
								tr
									td(class="colorCell") 579a930cc6eb72478aed245f
									td 579952053d2de8ff0ade0b1e
									td 579951883d2de8ff0ade0b1c
									td 2016-07-07T16:46:44.941Z
								tr
									td(class="colorCell") 579a930bc6eb72478aed245e
									td 579952053d2de8ff0ade0b1e 
									td 579951873d2de8ff0ade0b1b
									td 2016-07-07T16:02:44.027Z	
									
									
	div(class="small-12 medium-12 large-12 verde columns" id="footer")
			p(class="foot") COLEGIO AMERICA CCT 15PJN5044S Vicente Guerrero #29 Col Centro San Juan, Teotihuacan, México
			p(class="foot1") Tel: 015919560161 mami_america_@hotmail.com
			p(class="foot1")
				a(href="docs/AvisoDePrivacidad.pdf" target="_blank" style="margin-left:0px; text-decoration:none;") Aviso de Privacidad
	script(src="js/funciones.js" type="text/javascript" charset="utf-8" async)